.Rproj.user
inst/doc
*.RData
nohup.out
run.Rout
.DS_Store
*.Rda
*.rda
*.rds
*.log

.vscode/settings.json
.Rprofile
.Rhistory
preprocessing/_targets
preprocessing/_targets_r

notebooks/_freeze/*

RCLONE_TEST
preprocessing/_targets.yaml

testing/


_targets/logs/